extends ../inc/layout

block vars
	- var title = "Additive Synthesis"

block content
	section.additive_synthesis
		h1= title

block scripts
	script(type="text/javascript" src="/js/additive_synthesis.js")