extends ../inc/layout

block vars
	- var title = "Subtractive Synthesis"

block content
	section.subtractive_synthesis
		h1= title

block scripts
	script(type="text/javascript" src="/js/subtractive_synthesis.js")