extends ../inc/layout

block vars
	- var title = "Granular Synthesis"

block content
	section.granular_synthesis
		h1= title

block scripts
	script(type="text/javascript" src="/js/granular_synthesis.js")